<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>
<form th:action="@{/books/{id}(id=${book.id})}" method="post">
    <input type="hidden" th:value="${book.id}" name="id">
    <label for="title">Title:</label>
    <input type="text" id="title" th:value="${book.title}" name="title">
    <br>
    <label for="author">Author:</label>
    <input type="text" id="author" th:value="${book.author}" name="author">
    <br>
    <button type="submit">Update Book</button>
</form>
</body>
</html>
